body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(206, 104, 104) !important;
  color: #ccc !important;
}

.footer{
  text-align: center;
  font-size: xx-large;
  padding: 25px;
}

.prueba{
  max-width: 258px;
  height: 125px;
}

.card-body{
  background:rgb(28, 148, 234);
}
